<header>
  <nav>
    <div class="hamburger" (click)="openMenu();" [ngClass]="showMenu ? 'view-menu': ''">
      <span></span>
    </div>
    <ul *ngIf="showMenu">
      <li><a class="menu-heading menu-home active" (click)="scroll(banner, $event)">Home</a></li>
      <li><a class="menu-heading menu-tour" (click)="scroll(tours, $event)">Tours</a></li>
      <li><a class="menu-heading menu-gallery" (click)="scroll(gallery, $event)">Gallery</a></li>
      <li><a class="menu-heading menu-service" (click)="scroll(service, $event)">Services</a></li>
      <li><a class="menu-heading menu-testimonal" (click)="scroll(testimonal, $event)">Testimonals</a></li>
      <li><a class="menu-heading menu-contact" (click)="scroll(contact, $event)">Contact</a></li>
    </ul>
  </nav>
</header>
<section class="banner" id="bannerSection" #banner>
  <div class="banner-wrapper">
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel"  data-interval="3000">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let list of bannerList; let i = index;" [ngClass]="{'active' : i == 0 }" [ngStyle]="{'background-image': 'url('+list.imgSrc+')'}">
          <!-- <img class="d-block w-100" src="{{list.imgSrc}}" alt="{{list.imgName}}"> -->
          <!-- <img class="img-fluid" src="{{list.imgSrc}}" alt="{{list.imgName}}"> -->
        </div>
        <div class="carousel-text">
          <h4>Welcome To</h4>
          <h2>India Tours</h2>
          <h4>With Vijay</h4>
        </div>
        <div class="mouse-scroll">
          <div class="mouse">
            <div class="icon-animate" (click)="scroll(tours, $event)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="package" id="toursSection" #tours>
  <div class="container">
    <h2 class="section-heading">Popular Packages</h2>
    <div class="package-wrapper">
      <div class="package-list-holder row">
        <div class="col-md-4" *ngFor="let package of packageList;">
          <div class="package-holder">
              <div class="pacakge-img-holder" [ngStyle]="{'background-image': 'url('+package.imgSrc+')'}">
                  <!-- <img src="{{package.imgSrc}}" alt="{{package.imgName}}" class="img-fluid"> -->
                </div>
                <div class="package-info">
                  <h4 class="tour-name">{{package.tourName}}</h4>
                  <p class="tour-descp">{{package.tourDescp}}</p>
                  <button class="btn btn-orange">Contact us</button>
                </div>
          </div>         
        </div>
      </div>
    </div>
  </div>
</section>
<section class="gallery" id="gallerySection" #gallery>
    <div class="container">
      <h2 class="section-heading">Gallery</h2>
      <div class="masonry-layout">
        <div class="img-holder" *ngFor="let gallery of galleryList;">
          <img src="{{gallery}}" alt="">
        </div>
      </div>
    </div>
  </section>
<section class="services" id="serviceSection" #service>
  <div class="container">
    <h2 class="section-heading">Our Services</h2>
    <div class="services-wrapper">
      <div class="row">
        <div class="col-md-3" *ngFor="let service of serviceList;">
          <div class="service-holder">
              <div class="icon-holder">
                  <img src="{{service.imgIcon}}" alt="" class="img-fluid">
                </div>
                <div class="service-main">
                  <h4 class="service-name">{{service.heading}}</h4>
                  <p class="service-descp">{{service.descp}}</p>
                  <button class="btn btn-orange">Contact us</button>
                </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</section>
<section class="testimonal" id="testimonalSection" #testimonal>
  <div class="container">
    <div class="testimonial-wrapper">
        <h2 class="section-heading">Testimonals</h2>
        <div id="testimonalSlide" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#testimonalSlide"  *ngFor="let list of testimonalList; let i = index;" [ngClass]="{'active' : i == 0 }" data-slide-to="i"></li>
              </ol>
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let list of testimonalList; let i = index;" [ngClass]="{'active' : i == 0 }">
                <!-- <img class="" src="{{list.imgSrc}}" alt="{{list.imgName}}"> -->
                <h4>{{list.name}}</h4>
                <p>{{list.descp}}</p>
              </div>
            </div>
            <a class="carousel-control-prev" href="#testimonalSlide" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#testimonalSlide" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      <!-- carousel -->
    </div>
  </div>
</section>
<section class="contactus" id="contactSection" #contact>
  <div class="container">
    <h2 class="section-heading">Contact</h2>
    <div class="row">
      <div class="col-md-6">
        <form action="" class="review-form">
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Enter your name">
            </div>
            <div class="col-md-6">
              <input type="email" class="form-control" placeholder="Enter your email">
            </div>
          </div>
          <textarea class="form-control" name="" id="" placeholder="Enter your reviews ..." cols="30" rows="10"></textarea>  
          <div>
            <button class="btn btn-orange">Submit</button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="contact-info">
          <h4 class="contact-heading">Contact Info</h4>
          <ul>
            <li>
              <img src="assets/imgs/phone.svg" alt="" height="30px" class="img-icon">
              <span class="info">+91-9540515893</span>
            </li>
            <li>
              <img src="assets/imgs/mail.svg" alt="" height="25px" class="img-icon">
              <span class="info">vijay@tours.com</span>
            </li>
            <li>
              <img src="assets/imgs/pin.svg" alt="" height="30px" class="img-icon">
              <span class="info">DDA flat, no 8, New Ranjeet Nagar, <br> New Delhi, Delhi</span>
            </li>
          </ul>
        </div>
        <div class="social-icon">
          <ul>
            <li><a href=""><img src="assets/imgs/facebook.svg" alt="" class="facebook" height="30px"></a></li>
            <li><a href=""><img src="assets/imgs/instagram.svg" alt="" class="instagram" height="30px"></a></li>
            <li><a href=""><img src="assets/imgs/whatsapp.svg" alt="" class="whatsapp" height="30px"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="demo">
<div class="overflow">
  <span class="float-left">Vertical alignment 1</span>
  <span class="float-right">Vertical alignment 2</span>
</div>
<p>Lorem ipsum dummmy text to display float example</p>
<div class="dib-demo">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
</div>
<div class="float-demo">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
</div>
</section>

<router-outlet></router-outlet>
