.font-beba  {
    font-family: 'Bebas Neue', cursive;
  }
.font-mont {
    font-family: 'Montserrat', sans-serif;
 }

 app-itinerary {
     position: relative;
 }
 .back-button {
    width: 40px;
    height: 40px;
    padding: 7px;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    cursor: pointer;
    outline: none;
    &:focus {
        outline: none;
    }
 }

.banner-itinerary {
    height: 75vh;
    overflow: hidden;
    position: relative;
    background-position: 50%;
    background-size: cover;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.3);
        position: absolute;
    }
    h4 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        letter-spacing: 8px;
        color: white;
        font-size: 45px;
        @extend.font-beba;
    }
}

.itinerary-container {
    padding: 20px 50px;
    border: 2px solid #ff6600;
    border-radius: 6px;
    margin: 50px 0;
    .day {
        margin-bottom: 10px;
        display: inline-block;
        font-size: 25px;
        position: relative;
        &:before {
            content: '*';
            display: inline-block;
            position: absolute;
            left: -25px;
            top: 2px;
        }
        @extend.font-beba;
    }
}