<div class="back-button" [routerLink]="'/home'">
  <img src="assets/imgs/back.svg" alt="" width="20px" >
</div>
<section class="banner-itinerary" [ngStyle]="{'background-image': 'url('+itineraryData.imgSrc+')'}">
  <!-- <img src="{{itineraryData.imgSrc}}" alt="" class="img-fluid"> -->
  <h4>{{itineraryData.tourName}}</h4>
</section>
<section class="itinerary-info">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="itinerary-container">
          <p class="note">Note: Every trip starts from Delhi.</p>
          <div class="itinerary-listing {{itineraryData.cssClass}}" *ngFor="let list of itineraryData.itineraryDetail; let i = index">
            <div><span class="day">Day {{i+1}}</span> <p class="day-detail">{{list}}</p></div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</section>